.product_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
}
img{width: 200px;}
.product_card{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-btn{
    margin-right: 40px;
}

.product_card .product_details{
    padding: 10px 20px;
}
.product_card h3{
    font-size: 17px;
    font-weight: 700;
    color: #044498;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.product_details .price{
    margin-bottom: 25px;
}

.product_btn{
    color:#044498;
    font-weight: 800;
    transition: 500ms;
  }
 
  .product_btn:hover{
    color: #fff;
    background: #044498;
  }