*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.section_title{
  padding: 20px;
}

.container{
  padding: 20px;
}

.btn{
  background: #f7f7f7;
  color: #202020;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}

.nav-links a{
  color: #fff;
  font-size: 15px;
  text-decoration:none;
}